//- Kore Head
//- Copyright(c) 2013 Koreviz
//- MIT Licensed
head
	meta(charset='utf-8')

	meta(http-equiv='X-UA-Compatible', content='IE=edge')

	title Spider-Man
	meta(name='description', content='Spider-Man')
	meta(name='keywords', content='spider-man')

	//- meta(name='HandheldFriendly', content='True')
	//- meta(name='MobileOptimized', content='320')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	//- meta(http-equiv='cleartype', content='on')

	//- meta(name='mobile-web-app-capable', content='yes')
	//- meta(name='application-name', content=title)
	link(rel='icon', sizes='192x192', href='/chrome-touch-icon-192x192.png')

	//- meta(name='apple-mobile-web-app-capable', content='yes')
	//- meta(name='apple-mobile-web-app-status-bar-style', content='black')
	//- meta(name='apple-mobile-web-app-title', content=title)
	link(rel='apple-touch-icon', href='/apple-touch-icon.png')

	meta(name='msapplication-TileImage', content='/ms-touch-icon-144x144.png')
	meta(name='msapplication-TileColor', content='#000')
	
	meta(name='theme-color', content='#000')

	//- style
	link(rel='stylesheet', href='build.css')